body {
    font-family: 'Arial', sans-serif;
    background-color: #87CEEB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.weather-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.location {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.temperature {
    font-size: 3em;
    margin-bottom: 10px;
}

.weather {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.icon img {
    width: 100px;
    height: 100px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
